@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --base-grad-one: #997f53;
  --base-grad-two: #7bc4e3;
  --dark: #000000;
  --light-transparent: #00000050;
  --dark-transparent: #00000048;
  --mild: #adadad79;
  --light: #e7e7e7;
  --border: #353535;

  --max-site-size: 1200px;

  --gap: 8px;
  --border-radius: 12px;
}

* {
  outline: 1px solid rgba(255, 0, 0, 0);
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-weight: 250;
  min-height: 100%;
  background: linear-gradient(
    to bottom,
    var(--base-grad-two),
    var(--base-grad-one)
  );
}

body {
  color: var(--light);
}

.card {
  font-family: inherit;
  font-weight: inherit;
  border: 0px solid var(--border);
  border-radius: var(--border-radius);
  background-color: var(--light-transparent);

  container-type: size;
}

.glow-shadow {
  box-shadow: 0px 0px 4px 1px var(--light-transparent);
}

.container {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-bottom: 12px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  aspect-ratio: 1;

  flex-shrink: 0;

  border: none;

  color: var(--light);
  background-color: var(--light-transparent);

  border-radius: var(--border-radius);

  cursor: pointer;

  font-family: inherit;
  font-weight: inherit;

  transition: scale 0.01s ease-in;
}

.button-text {
  font-size: 16px;
}

.button:hover {
  scale: 0.95;
}

.button:active {
  scale: 0.9;
}

.search-form {
  display: flex;
  align-items: center;
}

#search-container {
  margin-left: auto;
  flex-wrap: nowrap;
  max-width: 100%;

  margin-bottom: 0;
}

#searchbox::placeholder {
  color: inherit;

  font-family: inherit;
  font-size: inherit;
}

#searchbox::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

#searchbox {
  width: 100%;
  height: 30px;

  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  color: var(--light);

  background-color: var(--light-transparent);
  border-radius: var(--border-radius);

  border: none;

  transition: scale 0.05s ease;

  padding-left: 10px;
}

#searchbox:hover {
  scale: 1.02;
}

body {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  width: 100%;
  max-width: var(--max-site-size);
}

.widget-container {
  display: grid;
  aspect-ratio: 4/1;
  grid-template-columns: 2fr minmax(0, 3fr);
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.auto-pad-main-widget {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 4cqw;
  align-content: space-between;
}

#main-widget {
  min-width: 300px;
}

.main-info {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  align-items: center;
}

.temp-and-location {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.location {
  font-size: 8cqh;
}

.temp {
  font-size: 35cqh;
}

.temperatures {
  display: flex;
  gap: 3cqw;
}

.feels-block {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;

  flex: 1 1 0;
}

.feels {
  font-size: 8cqh;
}

.feels-temp {
  font-size: 12cqh;
  align-self: center;
}

.emoji {
  width: 42cqh;
  height: 42cqh;

  margin-left: auto;
}

.info-block {
  grid-column: span 2;
  margin-top: auto;
  font-size: 8cqh;
}

.info-text {
  display: flex;
}

.info-name {
  flex: 1 1 0;
}

.info {
  flex: 1 1 0;
  text-align: right;
}

#graph-widget {
  min-width: 300px;
}

.day-container {
  display: grid;
  width: 1200;
  max-width: 100%;
  grid-template-columns: repeat(8, 1fr);

  gap: var(--gap);
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-content: space-around;

  padding: 5%;

  aspect-ratio: 1;
  container-type: size;

  font-size: 2cqw;

  transition: scale 0.02s ease-in;
}

.day:hover {
  scale: 0.975;
}

.day:active {
  scale: 0.95;
}

.day-icon {
  width: 100%;
  height: 100%;
}

.day-item-date {
  grid-column: span 2;

  color: var(--light);
  text-wrap: nowrap;
  display: block;
  flex: 5 1 0;

  font-size: 20cqh;
}

.day-temp {
  color: var(--light);

  display: block;

  font-size: 90%;

  text-wrap: nowrap;
}

@media all and (max-width: 650px) {
  .widget-container {
    grid-template-columns: 1fr;
    aspect-ratio: 1 / 1;
  }
  #main-widget {
    min-width: 0px;
  }
  #graph-widget {
    min-width: 0px;
  }

  .day-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .day {
    display: flex;
    justify-content: space-between;

    padding: 1cqw 4cqw;
    aspect-ratio: 10 / 1;
    font-size: 4cqw;
    align-items: center;
    container-type: size;
  }

  .day-icon {
    flex: 1 1 0;
    width: 80cqh;
    height: 80cqh;
    margin-left: inherit;
    margin-bottom: inherit;
  }
  .day-item-temp {
    flex: 1 1 0;
    text-align: right;
    font-size: inherit;
  }
  .day-item-date {
    flex: 4 1 0;
    font-size: inherit;
    text-align: left;

    margin-right: inherit;
    margin-bottom: inherit;
  }

  .lo {
    margin-left: inherit;
    margin-top: inherit;
  }
  .hi {
    margin-left: inherit;
    margin-top: inherit;
  }
}

/* TEMP */

.img-text {
  display: flex;
  align-items: center;
}

.clouds {
  object-fit: cover;
  filter: grayscale(100%) brightness(50%);
  width: 100%;
  height: 300px;
  object-position: 50% 60%;
}

.stupid {
  margin-top: var(--gap);
  border: var(--gap) solid var(--dark);
  border-radius: var(--border-radius);
}
