@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --base: #181a1a;
  --dark: #505556;
  --mild: #727677;
  --light: #e0eaed;
  --highlight: #fbfbfb;

  --max-site-size: 1200px;

  --gap: 10px;
  --border-radius: 8px;
}

* {
  outline: 1px solid rgba(255, 0, 0, 0);
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono";
}

body {
  background-color: var(--base);
  color: var(--light);
}

.container {
  display: flex;
  gap: var(--gap);
  margin-bottom: var(--gap);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0px;

  flex-shrink: 0;

  color: var(--light);
  background-color: var(--dark);

  border: none;

  border-radius: var(--border-radius);

  cursor: pointer;

  font-size: 100%;
  font-weight: bold;

  transition: background-color 0.2s ease;
  transition: scale 0.05s ease;
}

.button:hover {
  background-color: var(--mild);
  scale: 1.1;
}

.button:active {
  transform: scale(0.9);
}

.search-form {
  display: flex;
}

#search-container {
  margin-left: auto;
  flex-wrap: nowrap;
  max-width: 1fr;
}

#searchbox::placeholder {
  color: var(--highlight);
  font-family: inherit;
}

#searchbox {
  width: 100%;
  height: 30px;

  color: var(--dark);
  background-color: var(--dark);
  border-radius: var(--border-radius);

  border: none;

  transition: scale 0.05s ease;
}

#searchbox:hover {
  scale: 1.02;
}

body {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  width: 100%;
  max-width: var(--max-site-size);
}

.widget-container {
  display: grid;
  aspect-ratio: 4/1;
  grid-template-columns: 1fr minmax(0, 2fr);
  gap: var(--gap);
  margin-bottom: var(--gap);
}

#main-widget {
  min-width: 300px;

  background-color: var(--dark);
  border-radius: var(--border-radius);
}
#graph-widget {
  min-width: 300px;

  background-color: var(--dark);
  border-radius: var(--border-radius);
}

.day-container {
  display: grid;
  width: 1200;
  max-width: 100%;
  grid-template-columns: repeat(8, 1fr);

  gap: var(--gap);
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;

  padding: 10%;

  aspect-ratio: 1;
  container-type: size;

  font-size: 2.1cqw;
  font-weight: 500;

  background-color: var(--dark);
  border-radius: var(--border-radius);
}

.day-icon {
  display: block;
  flex: 1 1 0;

  width: 50cqh;
  aspect-ratio: 1;
}

.day-item-date {
  text-align: left;
  color: var(--light);
  text-wrap: nowrap;
  display: block;
  flex: 5 1 0;

  font-size: 120%;

  margin-right: auto;
  margin-bottom: auto;
}

.day-temp {
  color: var(--light);

  display: block;
  flex: 1 1 0;

  font-size: 80%;

  text-wrap: nowrap;
}

.lo {
  margin-right: auto;
  margin-top: auto;

  text-align: left;
}

.hi {
  margin-left: auto;
  margin-top: auto;

  text-align: right;
}

@media all and (max-width: 650px) {
  .widget-container {
    grid-template-columns: 1fr;
    aspect-ratio: 1 / 1;
  }
  #main-widget {
    min-width: 0px;
  }
  #graph-widget {
    min-width: 0px;
  }

  .day-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .day {
    display: flex;
    justify-content: space-between;

    padding: 0;

    padding-left: 3cqw;
    padding-right: 3cqw;
    aspect-ratio: 8 / 1;
    font-size: 5cqw;
    align-items: center;
    container-type: size;
  }
  .day-icon {
    width: 60cqh;
    height: 60cqh;
    margin-left: inherit;
    margin-bottom: inherit;
  }
  .day-item-temp {
    text-align: right;
    font-size: inherit;
  }
  .day-item-date {
    font-size: inherit;
    text-align: left;

    margin-right: inherit;
    margin-bottom: inherit;
  }

  .lo {
    text-align: center;
    margin-left: inherit;
    margin-top: inherit;
  }
  .hi {
    margin-left: inherit;
    margin-top: inherit;
  }
}

/* TEMP */

.img-text {
  display: flex;
  align-items: center;
}

.clouds {
  object-fit: cover;
  filter: grayscale(100%) brightness(50%);
  width: 100%;
  height: 300px;
  object-position: 50% 60%;
}

.stupid {
  margin-top: var(--gap);
  border: var(--gap) solid var(--dark);
  border-radius: var(--border-radius);
}
